$midnight-express: #151B32;
$periwinkle: #BFC8E6;
$white: #FFFFFF;
$royal-blue: #516FD4;
$ghost: #FBFCFF;
$cornflower-blue: #849FFF;
$periwinkle-heavy: #BCC6E7;
$periwinkle-light: #BFC8E5;
$solitude: #E6EAF8;